body {
   background-image: url("internet.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
h1 {
  position: relative;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: 'Helvetica', sans-serif;
}
body {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0px;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
}
p {
  color: white;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica', sans-serif;
}